body {
  background-image: url("../images/intro-bg\ -\ Copy.jpg");
  display: block;
}

table{
  background-color: white;
}

.table-box{
  max-height: 35rem;
  overflow-y: scroll;
}

.overlay-mf{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}

.move {
  transform: translateY(1rem);
  z-index: 10000;
}

.hide{
  display: none
}

.text-violet{
  color: rgb(230, 87, 230);
}

.color-box{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transform: translateY(.5rem);
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.violet{
  background-color: violet;
}

.fa-mine {
  font-size: 5rem;
  color:white;
  text-shadow: 1px 1px 1px 1px black;
  
}

.fa-mine .fa{
  cursor: pointer;
}

.left{
  position: absolute;
  top: 50%;
  left: 1px;
}

.right{
  position: absolute;
  top: 50%;
  right: 4px;
}